@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Poppins:wght@600&display=swap');
body {
    background-color: rgb(74, 223, 198);
    color: black;
    font-family: "Hind";
    font-size: xx-large;
}
* {
    transition: 0.5s;
}
*:hover {
    cursor: default;
}
*::selection{
    background-color: beige;
}
img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border-style: dashed;
    border-width: 0.375rem;

}
h1 {
    width: 100%;
    text-align: center;
}

li:hover {
    color: rgb(100, 172, 231);
    font-size: 150%;
}
ul a {
    text-decoration: none;
}
li:focus {
    color: yellowgreen;
}

div.centre {
    margin: 5% 15% 0% 15%;
    padding: 1rem 5rem 7rem 5rem;
    background-color: rgb(132, 255, 61);
    color: black;
    box-shadow: 0.5rem 0.5rem black;
    border-radius: 0.5rem;
}
@media only screen and (max-width: 1080px){
    div.centre{
        margin: 0;
    }
}